@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    color: #333;
    font-family: 'Open Sans', sans-serif;
}

header {
    padding: 20px 10px;
}

.header-container {
    display: flex;
    justify-content: space-between;

    gap: 5px;
}

.header-container>* {
    flex-basis: 1;
}

.search-nav {
    display: flex;
    flex-wrap: wrap;
    padding: inherit;
    gap: .5rem;
}

.search-container {
    width: 50vw;

}

.search-container button {
    border: 0;
    background: #8b0b04;
    color: #ffffff;
    width: 40px;
    height: 28px;
    border-radius: 5px;
}

.search-nav a {
    text-decoration: rever;
    display: inline-block;
    color: #8B6FAE;
    text-decoration: none;
    border-right: 1px solid #8B6FAE;
    padding-right: .4rem;
}

.search-nav a:hover {
    text-decoration: underline;
}

.login-container {
    display: flex;
    gap: 1rem;
    text-align: center;
    position: relative;

}

.help-container {
    display: flex;
    align-items: center;

}

.logo_login {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}

.login_form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 5px;
    position: relative;
}

.checkbox_login {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;

}

.login_form input[type='email'],
.login_form input[type='password'] {
    border-radius: 5px;
    height: 50px;
    width: 300px;
    padding: 0 9px 0 27px;
}

.login_form::before {
    background-image: url('https://www.everythingkitchens.com/static/version1695206396/frontend/EK/default/en_US/Plumrocket_Popuplogin/images/1455552331_user_male.svg') !important;
    background-size: cover;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 16px;
    left: 7px;
}

.login_form::after {
    background-image: url('https://www.everythingkitchens.com/static/version1695206396/frontend/EK/default/en_US/Plumrocket_Popuplogin/images/1455551701_103.svg') !important;
    background-size: cover;
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 85px;
    left: 7px;
    z-index: 3;
}

.login_form button {
    border: none;
    height: 40px;
    border-radius: 5px;
    background-color: #248E19;
    color: #ffffff;
    font-weight: bold;
}

.login_form a {
    color: #AD2D14;
}

.login_line {
    border-bottom: 1px solid #333;
}

.login-container i {
    font-size: 30px;
}

.help-container {
    display: inline-flex;
}

i.fa-solid.fa-arrow-down-long {
    font-size: 1rem;
}

i.fa-solid.fa-user {
    font-size: 1.5rem;
}

.expert-hlp,
.custom-name {
    white-space: nowrap;
}

.login-container div:last-child {
    white-space: nowrap;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(216, 213, 213);
    border-radius: 5px;
}

.navigation a {
    text-decoration: none;
    color: #333;
}

.dropdown-menu a {
    color: #333;
}

.sale a {
    color: #8b0b04;
}

.main_container .img {
    width: 100%;
    height: 418px;
    object-fit: cover;
    margin-top: 15px;
}

.main_container {
    position: relative;
}

.text_img {
    width: 326px;
    background-color: #f4f4f5;
    text-align: center;
    position: absolute;
    top: 0%;
    margin-left: 50px;
    margin-top: 25px;
    padding: 50px;
    line-height: 23px;
    font-size: large;

}

.text_img1 {
    width: 326px;
    background-color: #f4f4f5;  
    text-align: center;
    position: absolute;
    top: 0%;
    right: 0%;
    margin-right: 50px;
    margin-top: 25px;
    padding: 50px;
    line-height: 23px;
    font-size: large;
    
}

.main_container h1 {
    font-size: 50px;
}

.main_container span {
    color: #8b0b04;
}

.main_container button {
    padding: 15px 35px;
    border-radius: 5px;
    background-color: #ffffff;
}

.deal img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-top: 30px;
}

.deal {
    position: relative;
}

.deal-text {
    width: 90%;
    background-color: #f4f4f5;
    text-align: center;
    position: absolute;
    top: 0%;
    margin-left: 50px;
    margin-top: 45px;
    padding: 50px;
    line-height: 16px;
    font-size: larger;
}

.deal button {
    position: absolute;
    bottom: 0%;
    right: 50%;
    padding: 15px 35px;
    border-radius: 5px;
    background-color: #ffffff;
}

.weekly-deal {
    display: flex;
    justify-content: space-evenly;

    gap: 20px;
}

.weekly-deal>div {
    flex: 1;
}

.weekly-deal img {
    width: 100%;
}

.Weekly-product h2 {
    text-align: center;
}

.weekly-deal a {
    text-decoration: none;
    color: #333;
    font-weight: bolder;

}

.weekly-deal span {
    color: #fc0d00;
    font-weight: bolder;
}

#sale-section {
    margin-bottom: 32px;
}

/* @media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
} */

/* medium and up screens */
/* @media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
} */

.view {
    height: 100px;
    background-color: #8b0b04;
}

/* .nav-template .navlink:focus,
.nav-template .navlink:hover {
    background-color: rgba(255, 255, 255, 0.12);
} */
.wrap-btn-next,
.wrap-btn-prev {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    /* top: 50%;
    transform: translateY(-50%); */
}

.Items-sale {
    margin-top: 32px;
    margin-bottom: 32px;
}

.Items-sale h2 {
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.cart-container i {
    font-size: 25px;
}

.cart-container {
    display: flex;
    gap: 1rem;
    text-align: center;
    position: relative;
}
